body {
    background: #3d3d3d;
}

#hangmanPic {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 200px;
    height: 200px;
}

#el1, #el2, #el3 {
    background: #805f59;
}

#el4, #el5, #el6, #el7, #el8, #el9, #el10, #el11 {
    background: #dcc5bb;
    display: none;
}

#el1 {
    grid-row-start: 1;
    grid-row-end: -1;
}

#el2 {
    grid-column-start: 2;
    grid-column-end: 7;
}

#el3 {
    grid-column-start: 6;
    grid-row-start: 2;
}

#el4 {
    grid-column-start: 5;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 3;
    shape-outside: circle();
    clip-path: circle();
}

#el5 {
    grid-column-start: 5;
    grid-column-end: span 3;
    grid-row-start: 6;
    grid-row-end: span 2;
}

#el6 {
    grid-column-start: 4;
    grid-row-start: 6;
    grid-row-end: span 2;
}

#el7 {
    grid-column-start: 8;
    grid-row-start: 6;
    grid-row-end: span 2;
}

#el8 {
    grid-column-start: 5;
    grid-row-start: 7;
    grid-row-end: span 3;
}

#el9 {
    grid-column-start: 7;
    grid-row-start: 7;
    grid-row-end: span 3;
}

.container {
    max-width: 700px;
    color: white;
}

#games-link {
    display: inline;
    padding: 5px;
    border: 5px;
    margin: 5px;
}
